<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WRLC Enhanced Exceptions Reports{% endblock %} </title>
</head>
<body>
    <nav>
        <h1>{% block navtitle %}WRLC Enhanced Exceptions Reports{% endblock %}</h1>
    </nav>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>