{% extends 'base.html' %}

{% block content %}
    <h2>
        {% block page_title %}
            Institutions - Add an institution
        {% endblock %}
    </h2>
    <form action="{{ url_for('new_institution') }}" method="post">
        <div class="name">
            <label for="name">Institution Name</label>
            <input type="text" name="name" id="name" />
        </div>
        <div class="code">
            <label for="code">Institution Code</label>
            <input type="text" name="code" id="code" />
        </div>
        <div class="key">
            <label for="key">Alma API Key</label>
            <input type="text" name="key" id="key" />
        </div>
        <div class="exceptions">
            <label for="exceptions">Exceptions Report Path</label>
            <input type="text" name="exceptions" id="exceptions" />
        </div>
        <div class="events">
            <label for="events">Events Report Path</label>
            <input type="text" name="events" id="events" />
        </div>
        <div class="submit">
            <input type="submit" value="Add institution" />
        </div>
    </form>
{% endblock %}