{% extends 'base.html' %}

{% block content %}
    <h2>Institutions</h2>
    <div>
        <table class="table table-bordered table-hover table-sm">
            <thead class="table-dark sticky-top">
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                {% for institution in institutions %}
                    <tr>
                        <td>
                            <a href="{{ url_for('institution_detail', code=institution.code) }}">
                                {{ institution.name }}
                            </a>
                        </td>
                        <td>
                            {{ institution.code }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('add_institution') }}">
            <input type="submit" value="Add institution" />
        </form>

    </div>
{% endblock %}