{% extends 'base.html' %}

{% block content %}
    <h2>
        {% block page_title %}
            {{ inst.name }} ({{ inst.code }})
        {% endblock %}
    </h2>
    <div class="field">
        <div class="field-name">API Key</div>
        <div class="field-value">{{ inst.key }}</div>
    </div>
    <div class="field">
        <div class="field-name">Exceptions Report Path</div>
        <div class="field-value">{{ inst.exceptions }}</div>
    </div>
    <div class="field">
        <div class="field-name">Items Report Path</div>
        <div class="field-value">{{ inst.items }}</div>
    </div>
    <div class="field">
        <div class="field-name">Transit Report Path</div>
        <div class="field-value">{{ inst.events }}</div>
    </div>
    <form action="{{ url_for('institution_edit', code=inst.code) }}">
        <input type="submit" value="Edit institution" class="btn btn-primary" />
    </form>
{% endblock %}