{% extends 'base.html' %}

{% block content %}
    <h2>{{ inst.name }}</h2>
    {{ update }}
    <div><span class="text-muted">Last Updated: {{ update.last_update }}</span></div>
    {% if requests|length == 0 %}
        <p>No requests found.</p>
    {% endif %}
    {% for reqs in requests %}
        <details class="collapsible-report">
            <summary>
                {% set slots = [] %}
                {% for req in reqs if req.internalid not in slots %}
                    {{ slots.append(req.internalid) or ""}}
                {% endfor %}
                {{ reqs[0].borreqstat }} ({{ slots|length }})
            </summary>
            <table class="table table-bordered table-hover table-sm report" id="{{ reqs[0].borreqstat|replace(' ', '') }}">
                <thead class="table-dark sticky-top">
                    <tr>
                        <th>Borrowing Request Status</th>
                        <th>Internal ID</th>
                        <th>Borrowing Request Date</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Network Number</th>
                        <th>Requestor</th>
                        <th>Partner Active Status</th>
                        <th>Request Sending Date</th>
                        <th>Days Since Request</th>
                        <th>Partner Name</th>
                        <th>Partner Code</th>
                        <th>In Transit?</th>
                        <th>In Transit Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in reqs %}
                        <tr>
                            <td>{{ request.borreqstat }}</td>
                            <td>{{ request.internalid }}</td>
                            <td>{{ request.borcreate }}</td>
                            <td>{{ request.title }}</td>
                            <td>{{ request.author }}</td>
                            {% if request.networknum %}
                                <td>{{ request.networknum }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ request.requestor }}</td>
                            <td>{{ request.partnerstat }}</td>
                            {% if request.reqsend %}
                                <td>{{ request.reqsend }}</td>
                                <td>{{ request.days }}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                            <td>{{ request.partnername }}</td>
                            <td>{{ request.partnercode }}</td>
                            {% if request.eventstart %}
                                <td>Y</td>
                                <td>{{ request.eventstart }}</td>
                            {% else %}
                                <td>N</td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>
    {% endfor %}
    <script>
        window.onload = function() {
            const tables = document.getElementsByClassName("report");
            if (tables.length > 0) {
                for (let table of tables) {
                    mergeCells(table.id);
                }
            }
        };
    </script>
{% endblock %}
