{% extends 'base.html' %}

{% block content %}
    <h1>{{ inst.name }}</h1>
    <table class="table table-bordered table-hover table-sm" id="reportbody">
        <thead class="thead-dark sticky-top">
            <tr>
                <th>Borrowing Request Status</th>
                <th>Internal ID</th>
                <th>Borrowing Request Date</th>
                <th>Title</th>
                <th>Author</th>
                <th>Network Number</th>
                <th>Partner Active Status</th>
                <th>Request Sending Date</th>
                <th>Days Since Request</th>
                <th>Requestor</th>
                <th>Partner Name</th>
                <th>Partner Code</th>
                <th>In Transit?</th>
                <th>In Transit Date</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{ request.borreqstat }}</td>
                    <td>{{ request.internalid }}</td>
                    <td>{{ request.borcreate }}</td>
                    <td>{{ request.title }}</td>
                    <td>{{ request.author }}</td>
                    {% if request.networknum %}
                        <td>{{ request.networknum }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ request.partnerstat }}</td>
                    {% if request.reqsend %}
                        <td>{{ request.reqsend }}</td>
                        <td>{{ request.days }}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td>{{ request.requestor }}</td>
                    <td>{{ request.partnername }}</td>
                    <td>{{ request.partnercode }}</td>
                    {% if request.eventstart %}
                        <td>Y</td>
                        <td>{{ request.eventstart }}</td>
                    {% else %}
                        <td>N</td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        window.onload = function() {
            let db = document.getElementById("reportbody");
            let dbRows = db.rows;
            let lastValue = "";
            let lastCounter = 1;
            let lastRow = 0;
            for (let i = 0; i < dbRows.length; i++) {
                let thisValue = dbRows[i].cells[1].innerHTML;
                if (thisValue == lastValue) {
                    lastCounter++;
                    dbRows[lastRow].cells[1].rowSpan = lastCounter;
                    dbRows[i].cells[1].style.display = "none";
                } else {
                    dbRows[i].cells[1].style.display = "table-cell";
                    lastValue = thisValue;
                    lastCounter = 1;
                    lastRow = i;
                }
            }
            for (let i = 0; i < dbRows.length; i++) {
                let thisValue = dbRows[i].cells[2].innerHTML;
                if (thisValue == lastValue) {
                    lastCounter++;
                    dbRows[lastRow].cells[2].rowSpan = lastCounter;
                    dbRows[i].cells[2].style.display = "none";
                } else {
                    dbRows[i].cells[2].style.display = "table-cell";
                    lastValue = thisValue;
                    lastCounter = 1;
                    lastRow = i;
                }
            }
            for (let i = 0; i < dbRows.length; i++) {
                let thisValue = dbRows[i].cells[3].innerHTML;
                if (thisValue == lastValue) {
                    lastCounter++;
                    dbRows[lastRow].cells[3].rowSpan = lastCounter;
                    dbRows[i].cells[3].style.display = "none";
                } else {
                    dbRows[i].cells[3].style.display = "table-cell";
                    lastValue = thisValue;
                    lastCounter = 1;
                    lastRow = i;
                }
            }
            for (let i = 0; i < dbRows.length; i++) {
                let thisValue = dbRows[i].cells[4].innerHTML;
                if (thisValue == lastValue) {
                    lastCounter++;
                    dbRows[lastRow].cells[4].rowSpan = lastCounter;
                    dbRows[i].cells[4].style.display = "none";
                } else {
                    dbRows[i].cells[4].style.display = "table-cell";
                    lastValue = thisValue;
                    lastCounter = 1;
                    lastRow = i;
                }
            }
            for (let i = 0; i < dbRows.length; i++) {
                let thisValue = dbRows[i].cells[5].innerHTML;
                if (thisValue == lastValue) {
                    lastCounter++;
                    dbRows[lastRow].cells[5].rowSpan = lastCounter;
                    dbRows[i].cells[5].style.display = "none";
                } else {
                    dbRows[i].cells[5].style.display = "table-cell";
                    lastValue = thisValue;
                    lastCounter = 1;
                    lastRow = i;
                }
            }
        }


    </script>
{% endblock %}