{% extends 'base.html' %}

{% block content %}
    <h2>
        {% block page_title %}
        {{ inst.name }}
        {% endblock %}
    </h2>
    <table>
        <thead>
            <tr>
                <th>Borrowing Request Status</th>
                <th>Internal ID</th>
                <th>Item ID</th>
                <th>Borrowing Creation Date</th>
                <th>Title</th>
                <th>Author</th>
                <th>Network Number</th>
                <th>Partner Active Status</th>
                <th>Request Sending Date</th>
                <th>Days Since Request</th>
                <th>Requestor</th>
                <th>Partner Name</th>
                <th>Partner Code</th>
            </tr>
        </thead>
        <tbody>
            {% for item in report %}
                <tr>
                    <td>{{ item.borreqstat }}</td>
                    <td>{{ item.internalid }}</td>
                    <td>{{ item.itemid }}</td>
                    <td>{{ item.borcreate }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.author }}</td>
                    <td>
                        {% if item.networknum %}
                            {{ item.networknum }}
                        {% endif %}
                    </td>
                    <td>{{ item.partnerstat }}</td>
                    <td>
                        {% if item.reqsend %}
                            {{ item.reqsend }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.days %}
                            {{ item.days }}
                        {% endif %}
                    </td>
                    <td>{{ item.requestor }}</td>
                    <td>{{ item.partnername }}</td>
                    <td>{{ item.partnercode }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}